 /* .container{
 
 width: 500px; 
   height: 500px;
  border: 2px solid yellow;
  display:grid; 
  */
/*      
  grid-template-columns: 120px 120px 120px 120px 100px; 
    grid-template-rows: 80px 80px 80px 100px 80px;    */
/* 

   grid-template-columns:repeat(4,1fr);
  grid-template-rows: repeat(1,3fr);  
  */

    /* grid-template-columns: 0fr 0fr 0.2fr;
  grid-template-rows: 0fr 0fr 0fr;   */
  ;
     /* background-color: red;  
      row-gap: 2px;
  column-gap:60px;  
   justify-items: start; 
     align-items: center; 
   place-items: center;  
    gap:5px 1px; 
}
.item{
  background-color: blue;
  width: 100px;
  height: 70px;
border: 1px solid gray;
  margin-left:150px;
margin-top: 120px;
}
.item1{ 
    grid-column-start:1;
   grid-column-end: 3;  
  
 }  */

body{background-color: red;}


 .container{
  
 width: 500px; 
 height: 500px;
border: 2px solid yellow;
display:grid;
/* grid-template-columns: 120px 120px 150px 120px; */
grid-template-columns:repeat(5,2fr);

grid-template-rows:100px 100px 100px;
/* gap:40px 20px; */
row-gap: 20px;
column-gap: 40px;
 }
 .item{
  background-color: blue;
  border: 2px solid green;
 }
 .item2{
  /* justify-self:end; */
  place-self: center;
 }
